CLERK_SECRET_KEY="sk_.."
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_.."
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_.."
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/auth/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/auth/sign-up"
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL="/user/dashboard"
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL="/user/dashboard"